</br>
</br>
</br>
<h1>TraineeModule</h1>

<table class="table">
	<tr>
		<th>Course Name</th>
		<th>Assign Date</th>
		<th>Course End Date</th>
	</tr>
	<% @trainee.each do |trainee| %>
	<tr>
		<td><%= trainee.course.course_name %></td>
		<td><%= trainee.assign_date %></td>
		<td><%= trainee.course.end_date %></td>
	</tr>
	<% end %>

</table>
